body {
    line-height: 1.6;
    font-size: 18px;
    font-family: "Times New Roman";
}

.w500max {
      max-width: 450px;
}

.title {
    font-size: 28px;
    font-weight: bold;
    line-height: 1.6;
}

.notFound {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.center {
    text-align: center;
}

footer {
    border-top: 1px solid #888;
}

.link:link { color: #0000EE; }
.link:visited { color: #551A8B; }
.link:link:active, .link:visited:active { color: #FF0000; }