body {
    line-height: 1.6;
    font-size: 18px;
    padding-top: 25px;
    max-width: 400px;
    margin: auto;
    left: 10;
    right: 10;
}

h1 {
    text-align: center;
    font-size: 36px;
}

main {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

a {
    color: #888;
}

code {
    font-size: 85%;
}

p {
    text-align: center;
}

footer {
    border-top: 1px solid #888;
}
